<div class="container mt-5">
  <div class="row">
    <h1>Hi, I'm Wiechsa </h1>
    <h5>Ruby Backend Developer</h5>
  </div>
  <hr>
  <div class="row">
    <p>I am a programmer who loves to create my own stuff. 
      I started my adventure with C++ (which I already knew in technical school), then I learned Python,
      a language that showed me that programming can be simple and fun. 
      Currently, my favorite language is Ruby, which I also use professionally at work.
      I'm the type of person who prefers the backend to the frontend, so I apologize in advance for the ugly interface. </p>
  </div>
  <div class="row">
   <p>Here are the technologies I know:</p>
   <ul class="list-group">
    <li class="list-group-item">C</li>
    <li class="list-group-item">Ruby</li>
    <li class="list-group-item">Python</li>
    <li class="list-group-item">JavaScript</li>
    <li class="list-group-item">Git</li>
    <li class="list-group-item">Linux</li>
    <li class="list-group-item">PostgreSQL</li>
   </ul>
  </div>
</div>
